:root {
  --max-width-content: 1200px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  background: #F3F8FF;
}

.section-main {
  background-color: #F3F8FF;
  padding: 20px 0 35px 0;
  width: 100%;
}
.section-main .content {
  display: grid;
  max-width: var(--max-width-content);
  grid-template-columns: 8fr 4fr;
  grid-template-areas: "header header" "graphics graphics" "futbol-detail qualifiers" "futbol-detail social-sidebar";
  column-gap: 38px;
  row-gap: 40px;
  margin: 0 auto;
}
.section-main .content .header {
  grid-area: header;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section-main .content .header .options {
  display: flex;
  gap: 22px;
}
.section-main .content .header .options .option {
  display: flex;
  gap: 5px;
  align-items: center;
}
.section-main .content .header .options .option img, .section-main .content .header .options .option svg {
  width: 18px;
  height: 10px;
  object-fit: cover;
}
.section-main .content .graphics-content {
  grid-area: graphics;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  border-radius: 20px;
  background-color: white;
  gap: 70px;
}
.section-main .content .graphics-content .score-container {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}
.section-main .content .graphics-content .history {
  display: flex;
  gap: 30px;
  align-items: center;
}
.section-main .content .graphics-content .history .countries {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-main .content .graphics-content .history .countries img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.section-main .content .graphics-content .history .time-line {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
.section-main .content .graphics-content .history .time-line .main-line {
  width: 100%;
  height: 4px;
  background-color: #104596;
}
.section-main .content .graphics-content .history .time-line .point-marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #104596;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .content .graphics-content .history .time-line .point-marker div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.section-main .content .graphics-content .history .time-line .point-marker._20 {
  left: 20%;
}
.section-main .content .graphics-content .history .time-line .line-marker {
  position: absolute;
  gap: 10px;
  display: flex;
  width: max-content;
  height: 100%;
}
.section-main .content .graphics-content .history .time-line .line-marker .line {
  width: 1px;
  background-color: #104596;
  height: 100%;
  top: 0;
}
.section-main .content .graphics-content .history .time-line .line-marker.initial {
  left: 0;
}
.section-main .content .graphics-content .history .time-line .line-marker._15 {
  left: 18%;
}
.section-main .content .graphics-content .history .time-line .line-marker._30 {
  left: 35%;
}
.section-main .content .graphics-content .history .time-line .line-marker._45 {
  left: 50%;
}
.section-main .content .graphics-content .history .time-line .line-marker._60 {
  left: 65%;
}
.section-main .content .graphics-content .history .time-line .line-marker._75 {
  left: 83%;
}
.section-main .content .graphics-content .history .time-line .line-marker.final {
  left: 100%;
}
.section-main .content .futbol-detail {
  grid-area: futbol-detail;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
  gap: 10px;
}
.section-main .content .futbol-detail .details {
  display: flex;
  gap: 75px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #F5F9FF;
  width: 100%;
  flex-direction: column;
}
.section-main .content .futbol-detail .details .graphics-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
}
.section-main .content .futbol-detail .details .graphics-container .country {
  display: flex;
  gap: 10px;
  align-self: center;
}
.section-main .content .futbol-detail .details .graphics-container .country img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.section-main .content .futbol-detail .details .graphics-container .graphic {
  border-radius: 10px;
  width: 100%;
  height: max-content;
  background-image: url("../../assets/img/cancha-futbol-background.png");
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players {
  display: flex;
  padding: 20px;
  gap: 25px;
  flex-direction: column;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line {
  display: flex;
  justify-content: space-around;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .options {
  display: flex;
  position: absolute;
  top: -10px;
  left: 0;
  flex-direction: column;
  gap: 5px;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .options .option {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #104596;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player img {
  width: 55px;
  height: 40px;
}
.section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .name {
  display: flex;
  padding: 6px 5px;
  border-radius: 5px;
  background-color: #104596;
  color: white;
  font-size: 10px;
  font-weight: 400;
}
.section-main .content .qualifiers {
  grid-area: qualifiers;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px 30px;
  align-items: center;
  height: max-content;
}
.section-main .content .qualifiers .stadistics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 24px 20px;
  background-color: #F5F9FF;
  border-radius: 10px;
}
.section-main .content .qualifiers .stadistics .stadistics-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}
.section-main .content .qualifiers .stadistics .stadistics-item.header {
  padding-bottom: 10px;
  background-color: transparent;
}
.section-main .content .qualifiers .stadistics .stadistics-item .country {
  display: flex;
  gap: 14px;
  align-items: center;
}
.section-main .content .qualifiers .stadistics .stadistics-item .country img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
}
.section-main .content .qualifiers .stadistics .stadistics-item .total-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #104596;
}
.section-main .content .qualifiers .stadistics .stadistics-item > * {
  align-self: center;
  justify-self: center;
}
.section-main .content .qualifiers > .options {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.section-main .content .qualifiers > .options img {
  width: 150px;
  height: 30px;
  object-fit: cover;
}
.section-main .content .social-sidebar {
  grid-area: social-sidebar;
}
.section-main .content .publicity-1 {
  grid-area: publicity-1;
  display: none;
}

.favorite {
  cursor: pointer;
  position: relative;
  width: max-content;
}
.favorite.active {
  color: #FFDA54;
}
.favorite i {
  font-size: 30px;
}
.favorite i:hover {
  color: #FFDA54;
}
.favorite .tag {
  position: absolute;
  top: calc(100% + 5px);
  left: -50%;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #FFDA54;
}
.favorite .tag span {
  width: max-content;
}

.results {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.results .header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.results .alineations {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.results .alineations .alineation {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.results .alineations .alineation .item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 11px 20px;
}
.results .alineations .alineation .item .subitem-1 {
  display: flex;
  gap: 15px;
  align-items: center;
}
.results .alineations .alineation .item .subitem-1 img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.results .alineations .alineation .item .subitem-2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.results .alineations .alineation:nth-child(2n+1) {
  background-color: #F5F9FF;
}

.graphics {
  padding: 30px 50px 0 50px;
  background-color: white;
  border-radius: 20px;
}

.futbol-action {
  border-radius: 5px;
  background-color: white;
  height: 24px;
  padding: 0 7px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.futbol-action img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}

.futbol-card {
  width: 15.5px;
  height: 26px;
  border-radius: 2px;
}
.futbol-card.yellow {
  background-color: #FFDA54;
}
.futbol-card.red {
  background-color: #FF3842;
}
.futbol-card.small {
  width: 7px;
  height: 12px;
}

@media (max-width: 1200px) {
  .section-main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .body-container {
    grid-template-rows: auto 0 0 1fr auto;
  }
  .section-main {
    padding-right: 0;
    padding-left: 0;
    background-color: white;
  }
  .section-main .content {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "graphics" "futbol-detail" "publicity-1";
  }
  .section-main .content .header {
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
  }
  .section-main .content .header .options {
    align-self: flex-start;
    flex-direction: column;
    gap: 5px;
  }
  .section-main .content .graphics-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .section-main .content .graphics-content .score-container .favorite {
    display: none;
  }
  .section-main .content .graphics-content .score-container img {
    width: 100%;
  }
  .section-main .content .graphics-content .history {
    display: none;
  }
  .section-main .content .social-sidebar {
    display: none;
  }
  .section-main .content .qualifiers {
    display: none;
  }
  .section-main .content .publicity-1 {
    display: flex !important;
    justify-content: center;
  }
  .section-main .content .publicity-1 img {
    width: max-content;
    height: max-content;
  }
  .section-main .content .graphics-content .history {
    display: none;
  }
  .section-main .content .futbol-detail {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
  .section-main .content .futbol-detail .details {
    padding-left: 0;
    padding-right: 0;
  }
  .section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player img {
    width: 40px;
    height: 32px;
  }
  .section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .name {
    font-size: 8px;
  }
  .section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .options .option {
    width: 15px;
    height: 15px;
  }
  .section-main .content .futbol-detail .details .graphics-container .graphic .players .players-line .player .options .option .futbol-card {
    width: 5px;
    height: 8px;
    border-radius: 2px;
  }
  .results {
    padding-left: 0;
    padding-right: 0;
  }
  .results .alineations .alineation .item {
    flex-direction: column;
  }
  .results .alineations .alineation .item:last-child {
    flex-direction: column-reverse;
  }
}