:root {
  --max-width-content: 1200px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  background: #F3F8FF;
}

.section-main {
  background-color: #F3F8FF;
  padding: 20px 0 35px 0;
  width: 100%;
}
.section-main .content {
  display: grid;
  max-width: var(--max-width-content);
  grid-template-columns: 8fr 4fr;
  grid-template-areas: "header header" "graphics graphics" "futbol-detail qualifiers" "futbol-detail social-sidebar";
  column-gap: 38px;
  row-gap: 40px;
  margin: 0 auto;
}
.section-main .content .header {
  grid-area: header;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.section-main .content .header .options {
  display: flex;
  gap: 22px;
}
.section-main .content .header .options .option {
  display: flex;
  gap: 5px;
  align-items: center;
}
.section-main .content .header .options .option img, .section-main .content .header .options .option svg {
  width: 18px;
  height: 10px;
  object-fit: cover;
}
.section-main .content .graphics-content {
  grid-area: graphics;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  border-radius: 20px;
  background-color: white;
  gap: 70px;
}
.section-main .content .graphics-content .score-container {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}
.section-main .content .graphics-content .history {
  display: flex;
  gap: 30px;
  align-items: center;
}
.section-main .content .graphics-content .history .countries {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-main .content .graphics-content .history .countries img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.section-main .content .graphics-content .history .time-line {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}
.section-main .content .graphics-content .history .time-line .main-line {
  width: 100%;
  height: 4px;
  background-color: #104596;
}
.section-main .content .graphics-content .history .time-line .point-marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #104596;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .content .graphics-content .history .time-line .point-marker div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.section-main .content .graphics-content .history .time-line .point-marker._20 {
  left: 20%;
}
.section-main .content .graphics-content .history .time-line .line-marker {
  position: absolute;
  gap: 10px;
  display: flex;
  width: max-content;
  height: 100%;
}
.section-main .content .graphics-content .history .time-line .line-marker .line {
  width: 1px;
  background-color: #104596;
  height: 100%;
  top: 0;
}
.section-main .content .graphics-content .history .time-line .line-marker.initial {
  left: 0;
}
.section-main .content .graphics-content .history .time-line .line-marker._15 {
  left: 18%;
}
.section-main .content .graphics-content .history .time-line .line-marker._30 {
  left: 35%;
}
.section-main .content .graphics-content .history .time-line .line-marker._45 {
  left: 50%;
}
.section-main .content .graphics-content .history .time-line .line-marker._60 {
  left: 65%;
}
.section-main .content .graphics-content .history .time-line .line-marker._75 {
  left: 83%;
}
.section-main .content .graphics-content .history .time-line .line-marker.final {
  left: 100%;
}
.section-main .content .qualifiers {
  grid-area: qualifiers;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px 30px;
  align-items: center;
  height: max-content;
}
.section-main .content .qualifiers .stadistics {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 24px 20px;
  background-color: #F5F9FF;
  border-radius: 10px;
}
.section-main .content .qualifiers .stadistics .stadistics-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  padding: 0 8px;
}
.section-main .content .qualifiers .stadistics .stadistics-item.header {
  padding-bottom: 10px;
  background-color: transparent;
}
.section-main .content .qualifiers .stadistics .stadistics-item .country {
  display: flex;
  gap: 14px;
  align-items: center;
}
.section-main .content .qualifiers .stadistics .stadistics-item .country img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  object-fit: cover;
}
.section-main .content .qualifiers .stadistics .stadistics-item .total-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #104596;
  justify-self: flex-end;
}
.section-main .content .qualifiers .stadistics .stadistics-item > * {
  align-self: center;
  justify-self: center;
}
.section-main .content .graphics {
  grid-area: graphics;
}
.section-main .content .futbol-detail {
  grid-area: futbol-detail;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px 25px 40px 25px;
  align-items: center;
  height: max-content;
}
.section-main .content .futbol-detail .histories {
  display: flex;
  border-radius: 10px;
  background-color: #F5F9FF;
  padding: 10px 18px 33px 18px;
  gap: 8px;
  flex-direction: column;
}
.section-main .content .futbol-detail .histories .history {
  display: flex;
  padding: 9px 17px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  gap: 22px;
}
.section-main .content .futbol-detail .histories .history .indicators {
  display: flex;
  gap: 8px;
}
.section-main .content .futbol-detail .histories .history .indicators .indicator {
  border: 1px solid #104596;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .content .futbol-detail .histories .history .indicators .indicator img, .section-main .content .futbol-detail .histories .history .indicators .indicator svg, .section-main .content .futbol-detail .histories .history .indicators .indicator i {
  width: 17px;
  height: 17px;
}
.section-main .content .social-sidebar {
  grid-area: social-sidebar;
}
.section-main .content .publicity-1 {
  grid-area: publicity-1;
  display: none;
}

.favorite {
  cursor: pointer;
  position: relative;
  width: max-content;
}
.favorite.active {
  color: #FFDA54;
}
.favorite i {
  font-size: 30px;
}
.favorite i:hover {
  color: #FFDA54;
}
.favorite .tag {
  position: absolute;
  top: calc(100% + 5px);
  left: -50%;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #FFDA54;
}
.favorite .tag span {
  width: max-content;
}

.footer-qualifiers {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer-qualifiers img {
  width: 150px;
  height: 30px;
  object-fit: cover;
}
.footer-qualifiers.center .button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.futbol-card {
  width: 10px;
  height: 17px;
  border-radius: 2px;
}
.futbol-card.yellow {
  background-color: #FFDA54;
}
.futbol-card.red {
  background-color: #FF3842;
}

@media (max-width: 768px) {
  .body-container {
    grid-template-rows: auto 0 0 1fr auto;
  }
  .section-main {
    background-color: white;
  }
  .section-main .content {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "graphics" "futbol-detail" "publicity-1" "qualifiers";
    row-gap: 24px;
  }
  .section-main .content .social-sidebar {
    display: none;
  }
  .section-main .content .futbol-detail {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-main .content .graphics-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .section-main .content .graphics-content .score-container .favorite {
    display: none;
  }
  .section-main .content .graphics-content .score-container img {
    width: 100%;
  }
  .section-main .content .graphics-content .history {
    display: none;
  }
  .section-main .content .publicity-1 {
    display: flex !important;
    justify-content: center;
  }
  .section-main .content .publicity-1 img {
    width: max-content;
    height: max-content;
  }
  .section-main .content .header {
    padding-left: 35px;
    padding-right: 35px;
  }
  .section-main .content .header .options {
    align-self: flex-start;
    flex-direction: column;
    gap: 5px;
  }
  .footer-qualifiers {
    display: none;
  }
}