.card-news {
  display: grid;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-news.orientation-vertical {
  gap: 15px;
  grid-template-rows: max-content max-content;
  max-width: 500px;
}
.card-news.orientation-vertical img {
  width: 100%;
}
.card-news.orientation-vertical > .news-content {
  width: 100%;
}
.card-news.orientation-horizontal {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content;
  column-gap: 20px;
}
.card-news.orientation-horizontal img {
  width: 100%;
  height: 100%;
}
.card-news.orientation-horizontal > .news-content {
  height: max-content;
  justify-content: center;
}
.card-news.orientation-horizontal.distribution-equals img {
  grid-column: 1/4;
}
.card-news.orientation-horizontal.distribution-equals .news-content {
  grid-column: 4/7;
}
.card-news.orientation-horizontal.distribution-large-image img {
  grid-column: 1/5;
}
.card-news.orientation-horizontal.distribution-large-image .news-content {
  grid-column: 5/7;
}
.card-news.orientation-horizontal.distribution-large-content img {
  grid-column: 1/3;
}
.card-news.orientation-horizontal.distribution-large-content .news-content {
  grid-column: 3/7;
}
.card-news .news-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-news .news-content > .category {
  font-size: 14px;
  font-weight: 400;
  color: #104596;
}
.card-news .news-content > .title {
  font-size: 20px;
  font-weight: 700;
}
.card-news .news-content span:nth-child(3) {
  font-size: 12px;
  font-weight: 700;
  color: #104596;
}
.card-news .news-content > .author {
  font-size: 9px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .card-news .news-content > .title {
    font-size: 16px;
  }
}